// @import url('../../assets/images/wildlife3.jpeg');

.tabs-container--overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../assets/images/woods1.jpg');
    background-size: cover;
    // background-color: rgba(255, 255, 255, .5);
    opacity: .3;
}

.wildlife--description{
    clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 0% 100%);
    padding: 2rem 3rem;
    shape-outside:polygon(0% 0%, 95% 0%, 100% 100%, 0% 100%) ;
    transform: translateX(1rem);
}

.rules{
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 10% 100%);
    shape-outside: polygon(0% 0, 100% 0, 100% 100%, 10% 100%);
    padding: 2rem 3rem;
}


.wildlife-img{
    position: absolute !important;
    // top: 0;
    // left: 0;
    height: 65%;
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
    border: 1px solid rgb( 22 163 74) ;
    transition:  all .5s;

    &:hover{
        z-index: 99;
        transform: scale(1.01);
    }


    &--1{
        top:0;
        left: 0;
        // z-index: 10;
    }
    &--2{
        top:1rem;
        right: 10%;
    }
    &--3{
        // top:50%;
        top: 50%;
        left: 3rem;
    }
}