//COLORS
$color-primary: #55c57a;
$color-primary--light: #7ed56f;
$color-primary--dark: #28b485;
$color-primary--dark2: rgb(0, 128, 0, 0.2);
$color-green-grad: linear-gradient(to right, #{$color-primary}, #{$color-primary--dark});

$color-secondary: rgb(28, 28, 255);
$color-secondary--light: rgb(61, 200, 255);
$color-secondary--dark: rgb(0, 33, 221);
$color-secondary--dark2: rgb(0, 0, 255, 0.4);

$yellow-one: #ffb900;
$yellow-two: #ff7730;

$color-white: #fff;
$color-grey--light: #f7f7f7;
$color-grey--dark: #333;
$color-black: #000;

//TEXT-COLOR
$text-grey-light: rgb(119, 119, 119);
$text-grey-dark: rgb(94, 94, 94);