.sidebar__item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: rgb(22 163 74 );
  transition: all .5s;
  z-index: 1;
}

.sidebar__item:hover {
  &::before {
    width: 100%;
  }
}

.wildlife-img{
    position: absolute !important;
    // top: 0;
    // left: 0;
    height: 65%;
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
    border: 1px solid rgb( 22 163 74) ;
    transition:  all .5s;

    &:hover{
        z-index: 99;
        transform: scale(1.01);
    }


    &--1{
        top:0;
        left: 0;
        // z-index: 10;
    }
    &--2{
        top:1rem;
        right: 1rem;
    }
    &--3{
        // top:50%;
        top: 50%;
        left: 3rem;
    }
}