@tailwind base;
@tailwind components;
@tailwind utilities;

@import './utilities.scss';
@import './base.scss';
@import './components/sidebar';
@import './components/wildlife';



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  .app-container {
    @apply bg-slate-100 w-screen min-h-screen overflow-x-hidden;
  }
  .page-container{
      @apply w-full h-auto flex bg-slate-100 overflow-scroll relative;
  }
  .content {
    @apply w-full h-auto bg-slate-100 flex flex-col gap-1 p-5;
  }
}

.test {
  outline: 1px solid rgba(255, 0, 0, 0.5) !important;
  background: lightblue !important;
}